#containerChat{
            
            
            height: 400px;
            width: 98%;
            
            border: 2px solid black;
            
            overflow: scroll;
            padding: 15px;
                padding-left: 79px;
            
        }
        
        
  .bubble{
            
     width: 45%;
    padding: 2%;
    border-radius: 22px;
    max-height: 185px;
    background-color: dimgray;
    float: left;
    word-break: break-all;
    word-break: break-word;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow: hidden;
            
        }
        
        .row{
           width: 98%;
    margin-bottom: 10px;
    position: relative;
    /*overflow: auto*/;
        }
    
        
        
        
        .bubble2{
            
                width: 45%;
    padding: 2%;
    border-radius: 22px;
    max-height: 185px;
    background-color: dodgerblue;
    float: right;
    word-break: break-all;
    word-break: break-word;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow: hidden;
            
        }
        
        
        
   @media (max-width: 770px){
   
   div#containerChat .row{
   
   font-size: 0.7em !important;
    width: 98% !important;
    margin-bottom: 10px;
    position: relative;
    overflow: auto;
    margin-left: -27px !important;
   
   
   }
   
   .bubble2{
       width: 75% !important;
    padding: 3% !important;
   
   
   
   }
   
   
   .bubble{
       width: 75% !important;
    padding: 3% !important;
   
   
   
   }
   
   
   }
   
   .bubble *, .bubble2 *{
   color:white;
   }
   
   #containerChat::-webkit-scrollbar {
    width: 15px;
    background-color:darkgray;
}

#containerChat::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#containerChat::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}