.error {
    border: 2px solid #f00;
}

.valid {
    border: 2px solid #0ff;
}


/**Pelicula*/

@media (max-width: 770px){
img {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 10%;
    margin-top: 10%;
}

@media (min-width: 768px) {
.nav-disappear {display: none !important;}

}    

@media (max-width: 768px) {
.tab-disappear {display: none !important;}}
}


@media (min-width: 770px){
	
	
	.nav-disappear {display: none !important;}
	
	
	
	
}


.btn-dias{
		width: 80%;
    	margin-left: 10%;
    	margin-top: 5%;
	}
	
	.listaDias{
		width: 80%;
    	margin-left: 10%;
	
	}
	
	div.horas div{
	
		display:none;
	}
	
	
	ul.listaDias li.active{
		display:block !important;
	}
	
	ul.listaDias  > li > a:hover{
		background-color: #22464A !important;
	
	}
	
	ul.listaDias > .active > a, ul.listaDias > .active > a:hover, ul.listaDias> .active > a:focus {
		background-color: #22464A !important;
	}
	
	ul.listaDias{
		    background-color: gray;
	}
	
	div.container div.col-md-8.nav-disappear div.dropdown button.btn-dias{
	
	background-color: #22464A !important;
	}
	
	div.dropdown.open ul.dropdown-menu.listaDias{
		    position: static;
    		float: none;
	
	}